$header-font: #0b81af;
$link-font: rgb(211, 137, 0);
$header-bg: #bce3f3;
$font-size: 2vh;

.frame {
    color: black;
    margin: 2.5vh;
    font-size: $font-size;

    i {
        margin-right: 1vh;
        width: 2vh;
    }

    p {
        margin: 0;
        margin-bottom: 2vh;
        margin-left: 1.5vh;
    }
    
    a {
        color: $link-font;
    }

    .sectionheader {
        background-color: $header-bg;
        color: $header-font;
        display: flex;
        width: 100%;
        margin: 0;
        margin-bottom: 2.5vh;
        padding: 1vh 2.5vh;
        font-size: $font-size * 1.5;
    }

    .header {
        display: flex;
        background-color: $header-bg;
        width: 100%;
        padding: 0 2.5vh;
        font-size: $font-size * 1.5;
        color: $header-font;
        margin-bottom: 2.5vh;
        flex-direction: column;

        .title {
            margin-top: 1vh ;
            margin-bottom: 0;
        }

        .subtitle {
            margin-top: 1vh;
            margin-bottom: 1vh;
        }
    }

    .content {
            width: 100%;
            line-height: 2.5vh;
    }
    
}

.printbutton {
    color: white;
    background-color: $header-font;
    border-radius: 2.5vh;
    padding: 2.5vh;
    border: 0;
    margin: 2.5vh;
    font-size: 2.5vh;
    width: 40vh;
}

@media print {
    .pagebreak {
        margin-top: 2.5vh;
        page-break-before: always;
    }
  }