@import '../styles/variables.scss';

.navphonebutton {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5vh;
    left: 5vh;

    height: 5vh;
    width: 5vh;
    border-radius: 50%;

    background: $bg-item-color1;
    color: $font-item-color1;

    .buttonIcon {
        font-size: 5vh;
        transition: transform 0.2s;
    }

    .open {
        transform: rotate(-180deg);
    }
}