@import '../styles/variables.scss';

$bg-color: $bg-item-color1;
$font-color: $font-item-color1;

.navphonebutton {
    position: sticky;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 5vh;
    left: 5vh;

    height: 5vh;
    width: 5vh;
    border-radius: 50%;

    background: $bg-color;
    color: $font-color;
    z-index: 999;
    transition: transform 0.2s;
    opacity: 0.5;

    .buttonIcon {
        font-size: 5vh;
    }
}

.open {
    transform: rotate(-180deg);
    opacity: 1;
}