@import '../styles/variables.scss';

.section {
    position: relative;
    display: flex;
    flex-direction: column;
    color: $font-item-color1;
    height: 100vh;
    background-color: transparent;
    margin: 0 5vh;
}