$main-color: white;
$second-color: black;
$third-color: rgba(0, 128, 128, 0.5);
$fourth-color: rgb(252, 196, 76);

$bg-color1: $main-color;
$font-color1: $second-color;

$bg-color2: $third-color;
$bg-color3: $fourth-color;

$bg-item-color1: $second-color;
$font-item-color1: $main-color;